p {
	color: yellow;
}

* {
	font-family: "arial", monospace;
	font-size: 30px;
}

h1 {
	font-size: 40px;
}

#learnings {
	text-transform: uppercase;
}

.Languages {
	background-color: #BFDA8D ;
}

li[value="tools"] {
	border: 1px;
	border-style: solid;
	border-color: navy;
}

#other-things + ul {list-style-type: none;
}

#experiences img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

p ~ p {
	text-align: center;
	color: black;
}

ul > li {
	letter-spacing: 20px;
}